img, svg {
  clip-path: circle();
}

.in_middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.centric {
  width: 100%;
  margin-top: 10%;
}

.experience__title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  z-index: 2;
}

.education__degree, .experience__date {
  font-size: 20px;
  font-weight: 300;
  /* color: #333; */
  z-index: 2;
  position: relative;
}

.experience__company {
  font-size: 22px;
  font-weight: 700;
  color: #42dca3;
}
.experience__review {
  font-size: 18px;
  font-weight: 700;
  color: #42dca3;
}

.supervisor {
  font-size: 18px;
  font-weight: 700;
  
}

.contact__info, .experience+.experience {
  padding-top: 30px;
  align-items: flex-end;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
 .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
 .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
   .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
     .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
      .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
